.navigation {
    display: flex;
    background-color: #333333;
    height: 50px;
}

.left-navigation {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    /* border: green solid 2px; */
}

.right-navigation {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    /* border: blue solid 2px; */
}

.button {
    color: white;
    border: none;
    background-color: #333333;
    width: 50px;
    margin-left: 20px;
    font-size: 20px;
}

.button-right {
    color: white;
    border: none;
    background-color: #333333;
    width: 50px;
    margin-right: 20px;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    color: red;
}
.button-right:hover {
    cursor: pointer;
    color: red;
}
